<!DOCTYPE html>
<html lang="en">
    <%- include("partials/head.ejs") %>
    <body>
        <%- include("partials/header.ejs") %>
        <% if (user) { %>
        <a href="/jobs">Click this link to view/manage your jobs.</a>
        <br />
        <a href="/secretWord">
            Click this link to view/change the secret word.
        </a>
        <% } else { %>
        <a href="/sessions/logon">Click this link to logon.</a>
        <br />
        <a href="/sessions/register">Click this link to register.</a>
        <% } %>
        <%- include("partials/footer.ejs") %>
    </body>
</html>
